@font-face {
  font-family: "CrimsonPro";
  src: url(/assests/fonts/CrimsonPro/CrimsonPro-Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "CrimsonProLit";
  src: url(/assests/fonts/CrimsonPro/CrimsonPro-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "CrimsonProBold";
  src: url(/assests/fonts/CrimsonPro/CrimsonPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Noto";
  src: url(/assests/fonts/NotoSerif/NotoSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "NotoXlit";
  src: url(/assests/fonts/NotoSerif/NotoSerif-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "NotoBold";
  src: url(/assests/fonts/NotoSerif/NotoSerif-Bold.ttf);
  font-weight: 700;
}
